/**
 * @file        .gitattributes
 * @author      @$Author: Rakshith K <rakshith.k@bixbytessolutions.com> $
 * @date        @$Date: Thu Aug 8 11:38:45 2024 $
 * @version     @$Revision: 01d9502daed1502f2a6134eccf9f789e112cb639 $
 *
 * $Id: .gitattributes | Thu Aug 8 11:38:45 2024 | Rakshith K <rakshith.k@bixbytessolutions.com>  $
 */
