/**
 * @file        .gitconfig
 * @author      @$Author: Martin Turon <martin@turon.com> $
 * @date        @$Date: Tue Apr 12 14:26:02 2011 $
 * @version     @$Revision: 16138bee449499605d0cd680c7a57666314125da $
 *
 * $Id: .gitconfig | Tue Apr 12 14:26:02 2011 | Martin Turon <martin@turon.com>  $
 */
