/**
 * @file        .gitattributes
 * @author      @$Author: Martin Turon <martin@turon.com> $
 * @date        @$Date: Tue Apr 12 15:22:44 2011 $
 * @version     @$Revision: 8397aca1886102ff386862bc64276df88089c5c7 $
 *
 * $Id: .gitattributes | Tue Apr 12 15:22:44 2011 | Martin Turon <martin@turon.com>  $
 */
